<% include header %>

<% include nav %>

<div id="holder">
    <div id="top">
        <div class="pull-left"><%= user.stakeholder_group %></div>
        <div class="pull-right">Last Updated: <%= user.last_updated %></div>
    </div>
    <hr id="main_hr">
    <div id="mid">
        <img src="<%= user.image %>" width=40% />
        <span class="vert"></span>
        <div id="intro">
            <%= user.name %>
            <hr class="small_hr">
            <%= user.email %>
            <hr class="small_hr">
            <%= user.phone %>
        </div>
    </div>
    <div id="description">
        <%= user.bio %>
    </div>
    <hr id="main2_hr">
    <div class="info-horiz">
        <table>
            <tr>
                <td>Experience</td>
                <td class="tags">
                    <span class="tag">volunteer</span>
                    <span class="tag">university of pennsylvania</span>
                    <span class="tag">students</span>
                    <span class="tag">athlete</span>
                    <span class="tag">owls</span>
                </td>
            </tr>
            <tr>
                <td>Program/Group</td>
                <td class="tags">
                    <span class="tag">after-school program</span>
                    <span class="tag">philly schools</span>
                    <span class="tag">students</span>
                    <span class="tag">temple university</span>
                </td>
            </tr>
            <tr>
                <td>Site</td>
                <td class="tags">
                    <span class="tag">netter center directory</span>
                    <span class="tag">class of 2015</span>
                    <span class="tag">quakers</span>
                    <span class="tag">blue mountain school district</span>
                </td>
            </tr>
        </table>
    </div>
</div>

<% include footer %>