<% include header %>

<% include nav %>

<div id="holder">
    <div id="top">
        <div class="pull-left" id="stakeholder"><%= user.stakeholder_group %></div>
        <div class="pull-right">last updated: <%= user.last_updated %></div>
    </div>
    <hr id="main_hr">
    <div id="mid">
        <img src="<%= user.image %>" width=40% />
        <span class="vert"></span>
        <div id="intro">
            <%= user.name %>
            <hr class="small_hr">
            <%= user.email %>
            <hr class="small_hr">
            <%= user.phone %>
            <hr class="small_hr">
            <%= user.hometown %>
        </div>
    </div>
    <div id="description">
        <%= user.bio %>
    </div>
    <hr id="main2_hr">
    <div class="info-horiz">
        <table>
            <% for (var i = 0; i < user.tags.length; i++) { %>
            <tr>
                <td><%= user.tags[i].category %></td>
                <td class="tags">
                     <% for (var j = 0; j < user.tags[i].tags.length; j++) { %>
                    <span class="tag"><%= user.tags[i].tags[j] %></span>
                    <% } %>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</div>

<% include footer %>